body.home {
    background-color: royalblue;
    color: #fff;
}

header {
    background-color: transparent;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 15px;
    margin: 0 10px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #ffcc00; /* Change to your desired hover color */
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.content-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.about-text {
    max-width: 600px;
    text-align: left;
}

.about-text h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.profile-picture {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    padding: 5px;
    transition: background-color 0.3s ease-in-out;
}

.social-icons img:hover {
    background-color: #ffcc00; /* Change to your desired hover color */
}
